<div class="container-fluid position-absolute h-100 d-flex overflow-hidden bg-img">
    <div class="login-box">
        <mat-card>
            <div class="row">
                <div class="col-md-7 align-items-center">
                    <div class='left-logo'>
                        <a href="javascript:void(0);"> <img src="assets/images/mhrd-logo.png" width="75%"></a>
                    </div>
                    <div>

                    </div>
                </div>
                <div class="col-md-5 login-bg br-radius">
                    <div class="m-4 logo-font">
                        <span style='font-weight: 900'>SD</span>
                        <span style='font-weight: lighter'>MIS</span>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-7">

                </div>
                <div class="col-md-5 login-bg bl-radius pb-5">
                    <mat-card-content>
                        <div class="form-head">Welcome back to login!</div>
                        <form #lf="ngForm" (ngSubmit)="lf.valid && login()">
                            <div class="form-group">
                                <div class="text-center">
                                    <mat-form-field class="w-90" appearance='outline'>
                                        <mat-label>Username</mat-label>
                                        <input matInput name="username" [(ngModel)]='user.username' required>
                                        <mat-error>Username cannot be blank</mat-error>
                                    </mat-form-field>
                                    <mat-form-field class="w-90 mt-3 mb-3" appearance='outline'>
                                        <mat-label>Password</mat-label>
                                        <input matInput type="password" [(ngModel)]='user.password' name="password"
                                            required>
                                        <mat-error>Password cannot be blank</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="pb-4">
                                    <span style="color: #55A8FD; font-size: 90%;" class="pl-4">Forgot Password?</span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" mat-raised-button color="primary" class="w-90 btn-gradient">
                                        Login
                                    </button>
                                </div>

                            </div>
                        </form>
                    </mat-card-content>

                </div>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>