.bg-img {
    background: url('../../../assets/images/background.svg') center center;
    background-repeat: no-repeat;
    background-size: auto;
}

.login-bg {
    background-color: #1f2e54;
    color: white;
}

.br-radius {
    border-top-right-radius: 6px;
}

.bl-radius {
    border-bottom-right-radius: 6px;
    /* height: 248px; */
}

.left-logo {
    border-bottom: 3px solid #dfe1e2;
    padding: 1.2rem;
}

.form-head {
    color: white;
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-left: 1.6rem;
    margin-bottom: 2rem;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    /* login field outline colour  */
    color: var(--form-field-outline) !important;
    opacity: 1 !important;
}

.mat-form-field-label {
    /* login field text colour   */
    color: var(--form-field-text) !important
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: var(--color-blue) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: var(--color-blue) !important;
}

.mat-form-field-subscript-wrapper {
    margin-top: 0.3rem;
}