<div class="stepper-section">
    <form #vocational="ngForm">

        <div class="row form-field">
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">

                <mat-form-field class="w-75">
                    <mat-label>Trade/Sector (35)</mat-label>
                    <mat-select [(ngModel)]="vocationalDetail.trade" name="vocationalDetail.trade" required [disabled]="!common.allowFormUpdate">
                        <mat-option *ngFor="let trade of tradeList" [value]='trade.code'>{{trade.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Trade/Sector is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Job Role (36)</mat-label>
                    <mat-select [(ngModel)]="vocationalDetail.jobRole" name="vocationalDetail.jobRole" required [disabled]="!common.allowFormUpdate">
                        <mat-option *ngFor="let job of jobRole" [value]='job.code'>{{job.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Job Role is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">

                <mat-form-field class="w-75">
                    <mat-label>NSQF Level (37)</mat-label>
                    <mat-select [(ngModel)]="vocationalDetail.nsqfLevel" name="vocationalDetail.nsqfLevel" required [disabled]="!common.allowFormUpdate">
                        <mat-option *ngFor="let nsqf of nsqfLevels" [value]='nsqf.value'>{{nsqf.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>NSQF Level is required</mat-error>
                </mat-form-field>

            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Student opted for (38)</mat-label>
                    <mat-select [(ngModel)]="vocationalDetail.stuOptedFor" name="vocationalDetail.stuOptedFor" required [disabled]="!common.allowFormUpdate">
                        <mat-option *ngFor="let opt of stdOptFor" [value]='opt.name'>{{opt.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Course is required</mat-error>
                </mat-form-field>
            </div>



            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Employment Status (39)</mat-label>
                    <mat-select [(ngModel)]="vocationalDetail.placementStatus" name="vocationalDetail.placementStatus" [disabled]="!common.allowFormUpdate"
                        required>
                        <mat-option *ngFor="let emp of employmentStatus" [value]='emp.value'>{{emp.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Employment status is required</mat-error>
                </mat-form-field>

            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Salary Offered (40)</mat-label>
                    <mat-select [(ngModel)]="vocationalDetail.salaryOffered" name="vocationalDetail.salaryOffered" [disabled]="!common.allowFormUpdate"
                        required>
                        <mat-option *ngFor="let sal of salaryList" [value]='sal.value'>{{sal.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Salary is required</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row" *ngIf="common.allowFormUpdate">
            <div class="col-lg-11 col-md-11">
                <div class="mt-5">
                    <button *ngIf="common.studentAction=='add'" type="button" mat-raised-button color="primary"
                        [ngClass]="{'btn-gradient' : vocational.valid}" [disabled]="!vocational.valid"
                        (click)='sendVocationalDetail()'>Save & Continue</button>
                    <button *ngIf="common.studentAction=='edit'" type="button" mat-raised-button color="primary"
                        [disabled]="!vocational.valid" [ngClass]="{'btn-gradient' : vocational.valid}"
                        (click)='sendVocationalDetail()'>Update</button>
                </div>

            </div>
        </div>

    </form>
</div>

<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>