<div class="stepper-section">
    <form #vocational="ngForm">

        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline" class="w-75">
                    <mat-label>Trade/Sector</mat-label>
                    <input matInput placeholder="Trade/Sector" [(ngModel)]="vocationalDetail.trade"
                        name="vocationalDetail.trade" required>
                    <mat-error>Trade/Sector is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline" class="w-75">
                    <mat-label>Job Role</mat-label>
                    <input matInput placeholder="Job Role" [(ngModel)]="vocationalDetail.jobRole"
                        name="vocationalDetail.jobRole" required>
                    <mat-error>Job Role is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline" class="w-75">
                    <mat-label>Course Opted</mat-label>
                    <input matInput placeholder="Course Opted" [(ngModel)]="vocationalDetail.stuOptedFor"
                        name="vocationalDetail.stuOptedFor" required>
                    <mat-error>Course is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <div><label id="nsqfLevel" class="radio-label">NSQF Level Completed</label></div>
                <mat-radio-group aria-labelledby="nsqfLevel" [(ngModel)]="vocationalDetail.nsqfLevel"
                    name="vocationalDetail.nsqfLevel">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">

                <div><label id="nsqfLeplacementStatusvel" class="radio-label">Employment Status</label></div>
                <mat-radio-group aria-labelledby="placementStatus" [(ngModel)]="vocationalDetail.placementStatus"
                    name="vocationalDetail.placementStatus">
                    <mat-radio-button [value]="1" class="mr-2"> Employed </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> Unemployed </mat-radio-button>
                </mat-radio-group>

            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline" class="w-75">
                    <mat-label>Salary Offered</mat-label>
                    <input matInput placeholder="Salary Offered" [(ngModel)]="vocationalDetail.salaryOffered"
                        name="vocationalDetail.salaryOffered" appNumberOnly>
                    <!-- <mat-error>Salary is required</mat-error> -->
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-11 col-md-11">
                <div class="mt-5">
                    <button *ngIf="common.studentAction=='add'" type="button" mat-raised-button color="primary"
                        [ngClass]="{'btn-gradient' : vocational.valid}" [disabled]="!vocational.valid"
                        (click)='sendVocationalDetail()'>Save & Continue</button>
                    <button *ngIf="common.studentAction=='edit'" type="button" mat-raised-button color="primary"
                        [disabled]="!vocational.valid" [ngClass]="{'btn-gradient' : vocational.valid}"
                        (click)='sendVocationalDetail()'>Update</button>
                </div>

            </div>
        </div>

    </form>
</div>

<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>