<div class="stepper-section">
    <form #education="ngForm">

        <div class="row form-field">

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.schoolMgmt == '5'">
                <label id="freeEdu" class="radio-label">Getting free Education as per RTE education (15)</label>
                <mat-radio-group aria-labelledby="freeEdu" [(ngModel)]="educationDetail.freeEdu" [disabled]="!common.allowFormUpdate"
                    name="educationDetail.freeEdu">
                    <mat-radio-button value="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button value="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Previous Class (17)</mat-label>
                    <mat-select [(ngModel)]="educationDetail.classPrevYear" name="educationDetail.classPrevYear" [disabled]="!common.allowFormUpdate"
                        required>
                        <mat-option *ngFor="let class of classList" [value]="class.id">{{class.name}}</mat-option>
                    </mat-select>
                    <mat-error>Previous Class is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.stdClass == '1'">
                <mat-form-field class="w-75">
                    <mat-label>Previous year status (18)</mat-label>
                    <mat-select [(ngModel)]="educationDetail.statusPrev" name="educationDetail.statusPrev" [disabled]="!common.allowFormUpdate"
                        required>
                        <mat-option *ngFor="let stat of statusList" [value]="stat.code">{{stat.name}}</mat-option>
                    </mat-select>
                    <mat-error>Previous Year status is required</mat-error>

                </mat-form-field>
            </div>


            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Prev. year attendance (19)</mat-label>
                    <input matInput placeholder="Attendance" [(ngModel)]="educationDetail.classAttend" [disabled]="!common.allowFormUpdate"
                        name="educationDetail.classAttend" required>
                    <mat-error>Attendance is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-8 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Medium of Instruction (20)</mat-label>
                    <mat-select [(ngModel)]="educationDetail.moi" name="educationDetail.moi" required [disabled]="!common.allowFormUpdate">
                        <mat-option *ngFor="let moi of moiList" [value]='moi.code'>{{moi.name}}</mat-option>
                    </mat-select>
                    <mat-error>Medium of Instruction is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="common.allowFormUpdate">
            <div class="col-lg-11 col-md-11">
                <div class="mt-5">
                    <button *ngIf="common.studentAction=='add'" type="button" mat-raised-button color="primary"
                        [ngClass]="{'btn-gradient' : education.valid}" [disabled]="!education.valid"
                        (click)="sendEducationInfo();">Save & Continue</button>
                    <button *ngIf="common.studentAction=='edit'" type="button" mat-raised-button color="primary"
                        [disabled]="!education.valid" [ngClass]="{'btn-gradient' : education.valid}"
                        (click)="sendEducationInfo();">Update</button>
                </div>

            </div>
        </div>
    </form>
</div>

<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>