<div class="mt-3 ml-4 mr-3">
    <form #education="ngForm">

        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline" class="w-75">
                    <mat-label>Previous Class</mat-label>
                    <mat-select [(ngModel)]="educationDetail.classPrevYear" name="educationDetail.classPrevYear" required>
                        <mat-option *ngFor="let class of classList" [value]="class.id">{{class.name}}</mat-option>
                    </mat-select>
                    <mat-error>Previous Class is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Status of Previous Year</mat-label>
                    <input matInput placeholder="Status of Previous Year" [(ngModel)]="educationDetail.statusPrev"
                        name="educationDetail.statusPrev" required>
                    <mat-error>Previous Year status is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Attendance</mat-label>
                    <input matInput placeholder="Attendance" [(ngModel)]="educationDetail.classAttend"
                        name="educationDetail.classAttend" required>
                    <mat-error>Attendance is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Medium of Instruction</mat-label>
                    <mat-select [(ngModel)]="educationDetail.moi" name="educationDetail.moi" required>
                        <mat-option value="1">Hindi</mat-option>
                        <mat-option value="2">English</mat-option>
                    </mat-select>
                    <mat-error>Medium of Instruction is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <label id="freeEducation" class="mb-3">Getting free Education as per RTE education</label>
                <mat-radio-group aria-labelledby="freeEducation" [(ngModel)]="educationDetail.freeEducation"
                    name="educationDetail.freeEducation">
                    <mat-radio-button value="yes" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button value="no" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-11 col-md-11">
                <div class="text-right">
                    <button type="button" mat-button color="primary" class="btn-round" [disabled]="!education.valid"
                        (click)="sendEducationInfo();">Save & Continue</button>
                </div>

            </div>
        </div>

    </form>
</div>