<div class="container">
    <div class="mb-4 d-flex align-items-center">
        <div class="ml-4 mb-4">
            <span class="page-head">Block Dashboard</span>
        </div>
        <div class="ml-auto mr-5" *ngIf="(userObj.userType=='B')">
            <button type="button" mat-raised-button color="primary" class="btn-gradient"
                (click)="originalDash()">Back</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" *ngIf="totalCreated">
            <mat-card class="dash-card">
                <div class="dashboard-card-head">
                    Total Schools
                </div>
                <div class="text-center mt-5">
                    <img src="assets/images/school.svg" alt="school" class="img-fluid" [style.width]="'130px'">
                    <div class="total-highlight">
                        {{totalSchools}}
                    </div>
                </div>
            </mat-card>
        </div>

        <div class="col-md-3" *ngIf="genderCreated">
            <mat-card class="dash-card">
                <div class="dashboard-card-head">
                    Students gender wise
                </div>
                <div class="total-chart">
                    <canvas baseChart chartType="doughnut" [data]="genderChartData" [options]="chartOptions"
                        [legend]="false" [colors]="chartColors">
                    </canvas>
                    <div class="text-chart">
                        {{genderTotal}}
                    </div>
                </div>
                <div class="chart-legend">
                    <ul class="list-unstyled">
                        <li *ngFor='let label of genderMst' class="mr-3 mb-2 d-flex align-items-center">
                            <div [ngClass]="label.class=='boy' ? 'boy' : (label.class=='girl' ? 'girl' : 'trans')"
                                class="legend-layout"></div>
                            <div class="label-name">
                                {{label.name}}
                            </div>
                            <div class="ml-auto label-count">
                                {{label.count}}
                            </div>
                        </li>
                    </ul>
                </div>
            </mat-card>
        </div>

        <div class="col-md-6" *ngIf="socialCatCreated">
            <mat-card class="dash-card">
                <div class="dashboard-card-head">
                    Students Social Category wise
                </div>

                
                <div class="row">
                    <div class="col-md-12 pr-5">
                        <div class="class-wise-head">Social Category:</div>
                        <ul class="list-unstyled">
                            <li *ngFor='let cat of socialCatMst'>
                                <div class="d-flex align-items-center classwise-chart">
                                    <div class="class-wise-label">{{cat.name}}</div>

                                    <mat-progress-bar class="blue-progress mr-3 ml-3" mode="determinate"
                                        [value]="cat.count / socialCatMax * 100">
                                    </mat-progress-bar>

                                    <div class="class-wise-count">{{cat.count}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</div>


<!-- <div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div> -->