<div class="stepper-section">
    <form #incentive="ngForm">

        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field appearance="outline" class="w-75">
                    <mat-label>Number of Uniform Sets</mat-label>
                    <input matInput placeholder="Number of Uniform Sets" [(ngModel)]="incentiveDetail.uniformSet"
                        name="incentiveDetail.uniformSet" required appNumberOnly>
                    <mat-error>Number of Uniform sets is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <div><label id="freeBooks" class="radio-label">Getting free books</label></div>
                <mat-radio-group aria-labelledby="freeBooks" [(ngModel)]="incentiveDetail.textBook"
                    name="incentiveDetail.textBook">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <div><label id="freeTransport" class="radio-label">Getting free transport</label></div>
                <mat-radio-group aria-labelledby="freeTransport" [(ngModel)]="incentiveDetail.transFacility"
                    name="incentiveDetail.transFacility">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <div><label id="freeEscort" class="radio-label">Getting free escort</label></div>
                <mat-radio-group aria-labelledby="freeEscort" [(ngModel)]="incentiveDetail.escortFacility"
                    name="incentiveDetail.escortFacility">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <div><label id="freeBicycle" class="radio-label">Getting free bicycle</label></div>
                <mat-radio-group aria-labelledby="freeBicycle" [(ngModel)]="incentiveDetail.bicycle"
                    name="incentiveDetail.bicycle">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <div><label id="freeHostel" class="radio-label">Getting free hostel</label></div>
                <mat-radio-group aria-labelledby="freeHostel" [(ngModel)]="incentiveDetail.hostalFacility"
                    name="incentiveDetail.hostalFacility">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <div><label id="specialTraining" class="radio-label">Receiving Special Training</label></div>
                <mat-radio-group aria-labelledby="specialTraining" [(ngModel)]="incentiveDetail.specialTraining"
                    name="incentiveDetail.specialTraining">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-11 col-md-11">
                <div class="mt-4">
                    <button *ngIf="common.studentAction=='add'" type="button" mat-raised-button color="primary"
                        [ngClass]="{'btn-gradient' : incentive.valid}" [disabled]="!incentive.valid"
                        (click)='sendIncentiveDetail()'>Save & Continue</button>
                    <button *ngIf="common.studentAction=='edit'" type="button" mat-raised-button color="primary"
                        [disabled]="!incentive.valid" [ngClass]="{'btn-gradient' : incentive.valid}"
                        (click)='sendIncentiveDetail()'>Update</button>
                </div>

            </div>
        </div>

    </form>
</div>

<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>