<div class="stepper-section">
    <form #incentive="ngForm">

        <div class="row form-field">

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4">
                <mat-form-field class="w-75">
                    <mat-label>Facilities given to CWSN (22)</mat-label>
                    <mat-select [(ngModel)]="incentiveDetail.facilityCWSN" name="incentiveDetail.facilityCWSN" required [disabled]="!common.allowFormUpdate">
                        <mat-option *ngFor="let cwsn of cwsnFacility" [value]='cwsn.code'>{{cwsn.name}}</mat-option>
                    </mat-select>
                    <mat-error>Number of uniform sets is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.schoolMgmt == '4'">
                <mat-form-field class="w-75">
                    <mat-label>Number of Uniform Sets (23)</mat-label>
                    <mat-select [(ngModel)]="incentiveDetail.uniformSet" name="incentiveDetail.uniformSet" required [disabled]="!common.allowFormUpdate">
                        <mat-option *ngFor="let uniform of uniformList" [value]='uniform.value'>{{uniform.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Number of uniform sets is required</mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.schoolMgmt == '4'">
                <div><label id="freeBooks" class="radio-label">Getting free books (24)</label></div>
                <mat-radio-group aria-labelledby="freeBooks" [(ngModel)]="incentiveDetail.textBook" required [disabled]="!common.allowFormUpdate"
                    name="incentiveDetail.textBook">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.schoolMgmt == '4'">
                <div><label id="freeTransport" class="radio-label">Getting free transport (25)</label></div>
                <mat-radio-group aria-labelledby="freeTransport" [(ngModel)]="incentiveDetail.transFacility" required [disabled]="!common.allowFormUpdate"
                    name="incentiveDetail.transFacility">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.schoolMgmt == '4'">
                <div><label id="freeEscort" class="radio-label">Getting free escort (26)</label></div>
                <mat-radio-group aria-labelledby="freeEscort" [(ngModel)]="incentiveDetail.escortFacility" required [disabled]="!common.allowFormUpdate"
                    name="incentiveDetail.escortFacility">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.schoolMgmt == '4'">
                <div><label id="freeBicycle" class="radio-label">Getting free bicycle (27)</label></div>
                <mat-radio-group aria-labelledby="freeBicycle" [(ngModel)]="incentiveDetail.bicycle" required [disabled]="!common.allowFormUpdate"
                    name="incentiveDetail.bicycle">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 mt-4" *ngIf="common.schoolMgmt == '4'">
                <div><label id="freeHostel" class="radio-label">Getting free hostel (28)</label></div>
                <mat-radio-group aria-labelledby="freeHostel" [(ngModel)]="incentiveDetail.hostalFacility" required [disabled]="!common.allowFormUpdate"
                    name="incentiveDetail.hostalFacility">
                    <mat-radio-button [value]="1" class="mr-2"> Yes </mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-2"> No </mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3" *ngIf="common.schoolMgmt == '4'">
                <mat-form-field class="w-75">
                    <mat-label>Receiving Special Training (29)</mat-label>
                    <mat-select [(ngModel)]="incentiveDetail.specialTraining" name="incentiveDetail.specialTraining" [disabled]="!common.allowFormUpdate"
                        required>
                        <mat-option *ngFor="let training of splTrainingList" [value]='training.value'>{{training.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Special training is required</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="row" *ngIf="common.allowFormUpdate">
            <div class="col-lg-11 col-md-11">
                <div class="mt-4">
                    <button *ngIf="common.studentAction=='add'" type="button" mat-raised-button color="primary"
                        [ngClass]="{'btn-gradient' : incentive.valid}" [disabled]="!incentive.valid"
                        (click)='sendIncentiveDetail()'>Save & Continue</button>
                    <button *ngIf="common.studentAction=='edit'" type="button" mat-raised-button color="primary"
                        [disabled]="!incentive.valid" [ngClass]="{'btn-gradient' : incentive.valid}"
                        (click)='sendIncentiveDetail()'>Update</button>
                </div>

            </div>
        </div>

    </form>
</div>

<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>