.complete-profile {
    background-color: var(--color-green);
}

.remaining-profile {
    background-color: var(--color-red);
}

.mat-card> :last-child:not(.mat-card-footer) {
    margin-bottom: 2rem !important;
}

.chart-legend>ul>li {
    margin-bottom: 1rem !important;
}

.label-name {
    font-weight: 500;
}

.label-count {
    font-weight: 900;
}

.mat-progress-bar {
    height: 6px !important;
}

.profile-parent {
    margin-top: 3rem;
    margin-left: 1.5rem;
}

.profile-parent>ul>li {
    width: 25%;
}

.profile-parent>ul>li:not(:last-child) {
    margin-right: 3rem;
}

.profile-parent>ul>li:last-child {
    margin-right: 1.5rem;
}

.profile-head {
    color: var(--color-green);
    font-size: 2.5rem;
    font-weight: bolder;
}

.mat-card {
    box-shadow: 0px 2px 4px #0000000D;
}

tr.mat-header-row {
    height: 30px !important
}

td.mat-cell:not(:first-of-type), th.mat-header-cell:not(:first-of-type) {
    text-align: center;
}

.table-list {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 40%;
}

.mat-row:hover {
    cursor: pointer;
}

.custom-input {
    width: 200px;
    background-position: 170px 10px;
    height: 35px;
}

tr.mat-row {
    height: 30px;
}

.mat-cell {
    font-size: 12px !important;
}

.class-wise-label {
    margin-right: 1.5rem;
    font-size: 1.3rem;
    color: var(--color-grey)
}


.class-wise-label, .class-wise-count {
    text-align: center;
    min-width: 2rem;
}