.green-chart {
    background-color: var(--color-green);
}

.red-chart {
    background-color: var(--color-red);
}

.violet-chart {
    background-color: #7c3aab;
}

.mat-card> :last-child:not(.mat-card-footer) {
    margin-bottom: 2rem !important;
}

.chart-legend>ul>li {
    margin-bottom: 1rem !important;
}

/* .progress-chart .chart-legend>ul {
    margin-top: 4rem !important;
} */

.progress-chart .chart-legend>ul>li {
    margin-bottom: 2rem !important;
}

.label-name {
    font-weight: 500;
}

.label-count {
    font-weight: 900;
}

.mat-progress-bar {
    height: 6px !important;
}

.class-wise-label {
    margin-right: 1.5rem;
    font-size: 1.3rem;
    color: var(--color-grey)
}

.class-wise-label, .class-wise-count {
    text-align: left;
    min-width: 4rem;
}

.text-highlight {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-left: 1.3rem;
}

.progress-chart .chart-legend {
    margin: 1.5rem auto 0 1rem !important;
}

.progress-chart .legend-layout {
    height: 10px;
    width: 15px;
    margin-right: 1rem;
    border-radius: 5px;
}

.custom-input {
    width: 250px;
    background-position: 220px 10px;
    height: 35px;
}
