<div class="mt-4 mb-5 d-flex align-items-center">
    <div class="page-head">Create Section</div>
</div>

<div>
    <form #sec="ngForm" (ngSubmit)="saveSection()">
        <div class="row align-items-center">
            <div class="col-md-2 mt-2">
                <mat-form-field appearance="outline" class="w-80">
                    <mat-label>Class</mat-label>
                    <mat-select [(ngModel)]='mstClassSection.className' name='mstClassSection.className' required #class (ngModelChange)="getSectionList(class.value)">
                        <mat-option *ngFor="let class of classList" [value]="class.id">{{class.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2 mt-2">
                <mat-form-field appearance="outline" class="w-80">
                    <mat-label>Section Name</mat-label>
                    <input matInput placeholder="Section Name" [(ngModel)]="mstClassSection.sectionName"
                        name="mstClassSection.sectionName" required>
                    <mat-error>Section Name is required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="ml-4">
                <button type="submit" mat-raised-button color="primary" [disabled]="!sec.valid"
                    [ngClass]="{'btn-gradient' : sec.valid}">Save</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="sectionList.data.length > 0" class="mt-5">
    <table mat-table [dataSource]="sectionList" class="text-center">
        <ng-container matColumnDef="section" >
            <th mat-header-cell *matHeaderCellDef style="width: 200px;">EXISTING SECTIONS</th>
            <td mat-cell *matCellDef="let element" style="width: 200px;"> {{element.sectionName}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="sectionTableHead"></tr>
        <tr mat-row *matRowDef="let element; columns: sectionTableHead;">
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[2]" [hidePageSize]="true"></mat-paginator>
</div>

<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>