<div class="mt-4 mb-5 d-flex align-items-center">
    <div class="page-head">Student Profile</div>
    <div class="ml-auto mr-5">
        <button *ngIf="common.studentAction=='summaryList'" type="button" mat-raised-button color="primary"
            class="btn-gradient" (click)="common.studentAction = 'add'">Add Student</button>

        <button *ngIf="common.studentAction=='add' || common.studentAction=='edit'" type="button" mat-raised-button
            color="primary" class="btn-gradient" (click)="clearSearchObjs()">Student
            List</button>
    </div>


</div>



<div *ngIf="common.studentAction=='summaryList'" class="mr-5">
    <div class="row align-items-center">
        <div class="col-md-2 mt-2">
            <mat-form-field appearance="outline" class="w-80 search-param">
                <mat-label>Class</mat-label>
                <mat-select [(ngModel)]='stdSearchParam.class' name='stdSearchParam.class' required>
                    <mat-option *ngFor="let class of classList" [value]="class.name">{{class.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 mt-2">
            <mat-form-field appearance="outline" class="w-80 search-param">
                <mat-label>Section</mat-label>
                <mat-select [(ngModel)]='stdSearchParam.section' name='stdSearchParam.section' (ngModelChange)="getStudentList()" required>
                    <mat-option *ngFor="let section of sectionList" [value]="section.name">{{section.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="table-head" *ngIf="basicInfoList.data.length > 0">
            <input type="text" class="custom-input" placeholder="Search..." (keyup)="applyFilter($event.target.value)">
        </div>

    </div>

    <div *ngIf="basicInfoList.data.length > 0" class="fadeIn">
        <!-- <div class="w-100 table-panel">
            Basic Information of students
        </div> -->
        <table mat-table [dataSource]="basicInfoList" class="w-100">
            <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef style="width: 200px;">STUDENTS</th>
                <td mat-cell *matCellDef="let element" style="width: 200px;"> {{element.studentName}} </td>
            </ng-container>
            <ng-container matColumnDef="admissionNum">
                <th mat-header-cell *matHeaderCellDef style="width: 200px; text-align: center;">ADMISSION NO</th>
                <td mat-cell *matCellDef="let element" style="width: 200px; text-align: center;"> {{element.admNum}} </td>
            </ng-container>
           
            <ng-container matColumnDef="doa">
                <th mat-header-cell *matHeaderCellDef style="width: 230px; text-align: center;">DATE OF ADMISSION</th>
                <td mat-cell *matCellDef="let element" style="width: 230px; text-align: center;"> {{element.doa | date:'dd/MM/yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="class">
                <th mat-header-cell *matHeaderCellDef style="width: 180px; text-align: center;">CLASS</th>
                <td mat-cell *matCellDef="let element" style="width: 180px; text-align: center;"> {{element.className}} </td>
            </ng-container>
            <ng-container matColumnDef="section">
                <th mat-header-cell *matHeaderCellDef style="width: 180px; text-align: center;">SECTION</th>
                <td mat-cell *matCellDef="let element" style="width: 180px; text-align: center;"> {{element.section}} </td>
            </ng-container>
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef style="width: 180px; text-align: center;">GENDER</th>
                <td mat-cell *matCellDef="let element" style="width: 180px; text-align: center;"> {{element.gender | titlecase}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef style="width: 200px; text-align: right; padding-right: 7rem;">Action</th>
                <td mat-cell *matCellDef="let element" style="width: 200px; text-align: right; padding-right: 6rem;">
                    <a href="javascript:void(0);" (click)='viewStudentDetails(element.record);'>
                        <img src="assets/images/eye.svg" width="17px" class="view-icon">
                        <span class="icon-text">View</span>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="basicInfoTableHead"></tr>
            <tr mat-row *matRowDef="let element; columns: basicInfoTableHead;">
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>

    </div>
</div>


<div *ngIf="common.studentAction=='add' || common.studentAction=='edit'" class="mr-5 mt-2">
    <div class="mt-3">
        <mat-horizontal-stepper [linear]="common.studentAction=='add'" #stepper >
            <mat-step [editable]="common.studentAction!='add'" [completed]='false'>
                <!--  [completed]='false' -->
                <ng-template matStepLabel >Basic Information</ng-template>
                <app-student-basic-info (event)="moveStepper();"></app-student-basic-info>
            </mat-step>

            <mat-step [editable]="common.studentAction!='add'" [completed]='false'>
                <ng-template matStepLabel>Education Details</ng-template>
                <app-student-education (educationEvent)=moveStepper();></app-student-education>
            </mat-step>

            <mat-step [editable]="common.studentAction!='add'" [completed]='false'>
                <ng-template matStepLabel>Incentive Details</ng-template>
                <app-student-incentive (incentiveEvent)="moveStepper()"></app-student-incentive>
            </mat-step>

            <mat-step [editable]="common.studentAction!='add'" [completed]='false'>
                <ng-template matStepLabel>Vocational Details</ng-template>
                <app-student-vocational (vocationalEvent)="moveStepper()"></app-student-vocational>
            </mat-step>

            <mat-step [editable]="common.studentAction!='add'" [completed]='false'>
                <ng-template matStepLabel>Results</ng-template>
                <app-student-result (resultEvent)="resultEvent()"></app-student-result>
            </mat-step>


        </mat-horizontal-stepper>
    </div>
</div>



<div *ngIf='alertFlag'>
    <app-alert [message]='alertMsg' [flag]='alertFlag' [count]='alertCount'></app-alert>
</div>