.table-panel .custom-input {
    width: 250px;
    background-position: 220px 13px;
    height: 43px;
    border: 2px solid #E8EEF6;
}

.table-head {
    padding-bottom: 1.3rem;
    margin-left: auto;
}

.mat-horizontal-stepper-header-container {
    background-color: var(--drawer-content);
    padding: 1rem 0;
}

.mat-horizontal-stepper-header {
    flex-direction: column;
    /* height: 0px !important; */
    padding: 20px 24px !important;
}

.mat-step-icon {
    height: 40px !important;
    width: 40px !important;
}

.mat-step-header .mat-step-icon-selected {
    background-color: var(--color-blue);
}

.mat-step-icon {
    margin-bottom: 1.3rem;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: var(--color-blue) !important
}

.mat-step-text-label {
    font-weight: bolder;
}

.icon-text {
    color: var(--color-blue);
    font-size: 1.4rem;
    margin-left: 0.7rem;
}

.view-icon {
    margin-top: 0.75rem;
    margin-bottom: 1rem;
}

.short-field .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    /* color: white !important; */
    opacity: 1 !important;
    background-color: white;
}

.short-field .mat-form-field {
    width: 85%
}

.school-table .mat-row:hover {
    cursor: pointer;
}

.school-table .mat-row {
    height: 35px;
}

.classTable tr.mat-header-row {
    height: 20px !important
}

.school-details, .std-details {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.school-details ul li, .std-details ul li {
    margin: 1.5rem;
    text-align: center;
}

.school-details ul li {
    width: 220px;
}

.school-details ul li label {
    font-weight: 600;
    margin-bottom: 1rem;
}

.std-details label {
    font-weight: 600;
    margin: 1rem;
}

.table-action:hover {
    cursor: pointer;
}

.classTable table {
    width: 65%
}

.table-action {
    width: 50%;
}

.table-panel {
    font-size: 1.5rem;
    color: var(--color-blue);
}